<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <title>Haystack - <%=@title%></title>
    <link rel="stylesheet" type="text/css" href="<%=Config.HTTP_BASE%>/assets/style.css">
    <link rel="stylesheet" type="text/css" href="<%=Config.HTTP_BASE%>/assets/fontello.css">
</head>
<body>
<div id="container">
    <div id="title">
        <h1><%=@title%></h1>
    </div>
    <%==yield%>
</div>

</body>
</html>